.contenedor img {
    width: 50%;
    height: auto;
}

.tiendaImg {
    width: 100%;
    border-radius: 90%;
}

.textoProductos {
    color: black;
}
.textoTienda {
    text-align: center;
    color: $colorSubtitulos;
    justify-content: center;
}

