@keyframes zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.tarjetas {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    text-align: center;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}


.desarrollo:hover,.soporte:hover,.seguridad:hover {
    animation: zoom-in 0.1s ease-in-out forwards;
}

.imgServicios {
    width: 100%;
}

.subtitulos {
    color: $colorSubtitulos;
    font-size: 25px;
    font-family: $fuenteRabbit;
}

.desarrollo, .soporte, .seguridad {
    width: 500px;
    height: 500px;
    background-color: $colorHeader;
}

